nav {
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
nav a {
  color: #1E293B;
  font-weight: 600;
  margin-right: 1rem;
  text-decoration: none;
}
.navbrand {
  color: #10B981;
  font-weight: 700;
  font-size: 1.5rem;
  display: inline-block;
}